version: '3.7'

services:
  {{ docker_service_name }}_proxy:
    image: {{ docker_hub_url }}/{{ image_name }}-proxy:{{ tag }}
    hostname: "{{ docker_service_name }}"
    
    {% if publish_ports == true %}

    ports:
      - {{ service_agridex_beckn_proxy_host_port }}:{{ service_agridex_beckn_proxy_docker_port }}
      
    {% endif %}

    healthcheck:
        test: curl --fail  {{ docker_service_name }}_proxy || exit 1
        interval: 60s
        retries: 5
        start_period: 20s
        timeout: 10s
    expose:
      - {{ service_agridex_beckn_proxy_docker_port }}

    env_file:
      - {{ env_file_deployment_location }}
      
  {{ docker_service_name }}_bap:
    image: {{ docker_hub_url }}/{{ image_name }}-bap:{{ tag }}
    hostname: "{{ docker_service_name }}"
    
    {% if publish_ports == true %}

    ports:
      - {{ service_agridex_beckn_bap_host_port }}:{{ service_agridex_beckn_bap_docker_port }}
      
    {% endif %}

    healthcheck:
        test: curl --fail  {{ docker_service_name }}_bap || exit 1
        interval: 60s
        retries: 5
        start_period: 20s
        timeout: 10s
    expose:
      - {{ service_agridex_beckn_bap_docker_port }}

    env_file:
      - {{ env_file_deployment_location }}


  {{ docker_service_name }}_bg:
    image: {{ docker_hub_url }}/{{ image_name }}-bg:{{ tag }}
    hostname: "{{ docker_service_name }}"
    
    {% if publish_ports == true %}

    ports:
      - {{ service_agridex_beckn_bg_host_port }}:{{ service_agridex_beckn_bg_docker_port }}
      
    {% endif %}

    healthcheck:
        test: curl --fail  {{ docker_service_name }}_bg || exit 1
        interval: 60s
        retries: 5
        start_period: 20s
        timeout: 10s
    expose:
      - {{ service_agridex_beckn_bg_docker_port }}

    env_file:
      - {{ env_file_deployment_location }}

  {{ docker_service_name }}_bpp:
    image: {{ docker_hub_url }}/{{ image_name }}-bpp:{{ tag }}
    hostname: "{{ docker_service_name }}"
    
    {% if publish_ports == true %}

    ports:
      - {{ service_agridex_beckn_bpp_host_port }}:{{ service_agridex_beckn_bpp_docker_port }}
      
    {% endif %}

    healthcheck:
        test: curl --fail  {{ docker_service_name }}_bpp || exit 1
        interval: 60s
        retries: 5
        start_period: 20s
        timeout: 10s
    expose:
      - {{ service_agridex_beckn_bpp_docker_port }}

    env_file:
      - {{ env_file_deployment_location }}
  
  {{ docker_service_name }}_test_api:
    image: {{ docker_hub_url }}/{{ image_name }}-test-api:{{ tag }}
    hostname: "{{ docker_service_name }}"
    
    {% if publish_ports == true %}

    ports:
      - {{ service_agridex_beckn_test_api_host_port }}:{{ service_agridex_beckn_test_api_docker_port }}
      
    {% endif %}


    expose:
      - {{ service_agridex_beckn_test_api_docker_port }}

    deploy:
      placement:
        constraints:
          - node.role == {{ var_docker_deploy_node_type }} 
      replicas: {{ replicas }}      
      update_config:
        parallelism: 1
        delay: 0s
        failure_action: rollback
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 0s
      restart_policy:
        condition: on-failure
    
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

    env_file:
      - {{ env_file_deployment_location }}

 
networks:
  application_default:
    external: true

